.App {
  text-align: center;
}

/** 
  We've given you container the astronaut css. 
  The rest you have to implement.
*/
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to bottom, #192334, #b1c6bf);
  min-height: 100vh;
}

.astronaut {
  animation: MoveUpDown 4s linear infinite;
  height: 20vh;
  position: relative;
}

@keyframes MoveUpDown {
  0%,
  100% {
    bottom: 0;
  }
  50% {
    bottom: 25px;
  }
}

/**
  Other helpful details for the header.js css:
  The plant button should have background-color: #273654;
  If you have other questions with regard to the CSS take a 
  look at our final product:
    - Right click on any part of it on your browser (preferably Google Chrome)
    - Click Inspect to see the raw HTML/ CSS that we used.
    - You should be able to see all the css that we used when we designed the components.
*/

/*When you are implementing Card One/First Card, this is how you highlight a button*/
.active {
  background-color: #273654!important;
  color: #fff!important;
}